/******* For Inventory *******/
.estimate__item {
  margin-top: -1px;
  width: 100%;
  padding: 5px 20px;
  color: #546e7a;
  border: 1px solid #b0bec5;
  /* border-bottom: 0.5px; */
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.estimate__item:first-child {
  margin-top: 0;
}
.estimate__item-specs {
  /* color: #0d47a1; */
}
.estimate__item:hover {
  cursor: pointer;
  color: #fff;
  background: #b0bec5;
}
/******* For Display Estimate totals *******/
.dashboard-table,
.dashboard-table-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1100px;
  min-width: 700px;
  margin-left: 0.7rem;
  /* margin: 0 auto; */
}
/* For packing services in estimate */
.dashboard-table-packing,
.dashboard-table-header-packing {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  max-width: 1100px;
  min-width: 700px;
}
/* For Storage services in estimate */
.dashboard-table-storage,
.dashboard-table-header-storage {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 1100px;
  min-width: 700px;
}
/* For additional services in estimate */
.dashboard-table-additional,
.dashboard-table-header-additional {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1100px;
  min-width: 500px;
}
.dashboard-table-header p {
  margin-bottom: 0;
  color: #fff;
}
.dashboard-table-header,
.dashboard-table-header-packing,
.dashboard-table-header-additional,
.dashboard-table-header-storage {
  color: #fff;
  background: #37474f;
}
.dahboard-table-subheader {
  width: 100%;
}
.dahboard-table-subheader p {
  margin: 0 auto;
}
.header-item {
  padding: 15px 10px;
  border-right: 1px solid #fff;
}
.header-item:last-child {
  border-right: 0;
}
.table-item {
  padding: 3px 10px;
  border-right: 1px solid #37474f;
  border-bottom: 1px solid #37474f;
}

.table-item:first-child {
  border-left: 1px solid #37474f;
}

/******* FINALIZE TABLE STYLES  ***************/
/* #finalize-tables {
  max-height: 1000px;
  overflow: auto;
} */
/* #finalize-tables table {

} */

/* .finalize-header table,
th,
td {
  padding: 0;
  border: 1px solid black;
} */
#info-table,
#move-detail-table,
#move-total-table,
#move-packing-table,
#move-storage-table,
#move-fees-table,
#move-addService-table,
#move-items-table,
#move-finalTotals-table {
  font-size: 12px;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  /* border: 1px solid black; */
}

#move-comments-table,
#move-understand-table {
  font-size: 12px;
  border-spacing: 0;
  padding: 0;
  width: 100%;
  /* border: 1px solid black; */
}
#move-finalTotals-table {
  font-size: 12px;
  border-spacing: 0;
  padding: 0;
  width: 50%;
  /* margin-right: 0px;
  margin-left: auto; */
}
.t-head {
  border: 1px solid black;
  padding: 4px;
  text-align: center;
}

.td-half {
  width: 50%;
  padding: 4px;
  /* border: 1px solid black; */
}

.td-half-br {
  width: 50%;
  padding: 4px;
  /* border: 1px solid black;
  border-style: none solid none none; */
}

.td-half-brl {
  width: 50%;
  padding: 4px;
  /* border: 1px solid black;
  border-style: none solid none solid; */

  /*  border-left: 1px solid black; */
}

.ta-right {
  text-align: right;
  padding: 4px 20px 4px 4px;
}

.td-tq {
  width: 70%;
  padding: 4px;
}

.td-q {
  width: 30%;
  padding: 4px;
}

.td-40 {
  width: 60%;
  padding: 4px;
  /* border: 1px solid black; */
}

.td-20 {
  width: 33.333%;
  padding: 4px;
  /* border: 1px solid black; */
}

.td-21 {
  width: 20%;
  padding: 4px;
  /* border: 1px solid black; */
}

/* Helper classes */
.padding-0 {
  padding: 0px;
}

.move-estimate-header {
  text-align: center;
}
.text-bold {
  font-weight: 700;
}
.w-100 {
  width: 100%;
}
.ta-center {
  text-align: center;
}
